/* Main App Styling */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;

}

/* Header Section */
.App-header {
  background-color: #4CAF50; /* Enchanting Green */
  color: white;

  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 1.5em;
  margin-top: 10px;
  line-height: 1.6;
}

/* Outfit Cards Grid */
.outfit-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}

/* Styling for Each Outfit Card */
.outfit-card {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  transition: transform 0.3s ease;
}

.outfit-card:hover {
  transform: translateY(-10px);
}

.outfit-card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.outfit-card h3 {
  font-size: 2.5em;
  color: #4CAF50; /* Enchanting Green */
  margin-top: 20px;
  text-transform: capitalize;
}

.outfit-card p {
  font-size: 1.2em;
  font-style: italic;
  color: #777;
  margin-top: 10px;
  padding: 0 15px;
}

/* Entities Section */
.entities-section {
  margin-top: 100px;
  padding: 50px 30px;
  background-color: #e7f5e4; /* Light Green */
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.entities-section h2 {
  font-size: 3em;
  color: #4CAF50; /* Enchanting Green */
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.entity {
  font-size: 1.5em;
  color: #4CAF50;
  margin: 10px 0;
  font-weight: bold;
}
